.card-user {
  .image {
    height: 150px;

    img {
      border-radius: 12px;
    }
  }

  .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;

    a+p.description {
      margin-top: -7px;
    }
  }

  .avatar {
    width: 130px;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
  }

  .profile {
    margin-top: 100px;
  }

  .card-body {
    min-height: 240px;
  }

  hr {
    margin: 5px 15px 15px;
  }

  .card-body+.card-footer {
    padding-top: 0;
  }

  .card-footer {
    h5 {
      font-size: 1.25em;
      margin-bottom: 0;
    }
  }

  .button-container {
    margin-bottom: 6px;
    text-align: center;
  }
}